@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Nunito Sans', sans-serif;
}
*{
border:1px solid green !important;
}
/* styles.css */
@media (max-width: 640px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .card {
    max-width: 100%;
    margin-bottom: 16px;
  }
  .card img {
    height: auto;
  }
}
