@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Nunito Sans', sans-serif;
}
*{
border:1px solid green !important;
}
@media (max-width: 640px) {
  .wrapper {
    justify-content: center;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .wrapper {
    justify-content: center;
  }
}

@media (min-width: 769px) {
  .wrapper {
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    justify-content: flex-beetwen;
  }
}